{% extends 'base.html' %}
{% block title %} About Us {% endblock title%}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body  %} 
<div style="width:800px; margin:0 auto;">
<h2 style="font-family: 'Roboto Slab', serif;"><b>Developed by </b></h2>
<div class="container my-3 " >
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">BISHWAJIT SAIKIA</h5>
    <h6 class="card-subtitle mb-2 text-muted">Student of BMSCE</h6>
    <p class="card-text">I am student of BMSCE.I am studying MCA.</p>
    <a href="#" class="card-link">Facebook</a>
    <a href="#" class="card-link">Instagram</a>
  </div>
</div>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">PUSHPARANI KH.</h5>
    <h6 class="card-subtitle mb-2 text-muted">Student of BMSCE</h6>
    <p class="card-text">I am student of BMSCE.I am studying MCA.</p>
    <a href="#" class="card-link">Facebook</a>
    <a href="#" class="card-link">Instagram</a>
  </div>
</div>
</div>
<div>
{% endblock body  %}